@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .bg-teal-50 {
    background-color: #f0fdfa;
  }
}

html {
  color-scheme: light;
}

.card {
  @apply bg-red-500 text-white p-20 rounded-3xl shadow-2xl border-4 border-white text-5xl font-extrabold mt-4 text-xl min-h-screen flex items-center justify-center;
}
